// main.scss

@import 'variables.scss';
@import 'utilities.scss';
@import 'sidebar.scss';

svg{	
	// border: 1px solid #bbb;
	// border-radius: 50%;
	background-color: $color-background;
	// @include absolute_center();
}
body{
	display: flex;
}
.star-main{
	fill: $color-primary;
	opacity: 0.6;
	&:hover{
		opacity: 1;
	}
}
.star-buffer{
	fill: $color-background;
}

.connection{
	@include svg_stroke(black, 2);
	fill: none;
	opacity: 0.2;
	stroke-linecap: round;
	&:hover{
		@include svg_stroke(red, 3);
	}
}
.connection-temp{
	@extend .connection;
	pointer-events: none;
}

.nav-btns{
	position: absolute;
	top: 10px;
	right: 10px;
}

section.main {
	display: flex;
	flex-grow: 1;
	height: 100vh;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	overflow-y: scroll;
}