// main.scss

@import 'variables.scss';
@import 'utilities.scss';

svg{	
	border: 1px solid #bbb;
	// border-radius: 50%;
	background-color: $color-background;
	@include absolute_center();
}

.star-main{
	fill: $color-primary;
	opacity: 0.6;
	&:hover{
		opacity: 1;
	}
}
.star-buffer{
	fill: $color-background;
}

.connection{
	@include svg_stroke(black, 2);
	fill: none;
	opacity: 0.2;
	stroke-linecap: round;
	&:hover{
		@include svg_stroke(red, 3);
	}
}
.connection-temp{
	@extend .connection;
	pointer-events: none;
}
#con-name{
	@include large_text();
}
#star-name{
	@include large_text();
}