@import 'variables.scss';

.sidebar {
	width: $sidebar-width;
	display: inline-block;
	height: 100vh;
	display: flex;
	background: $color-secondary;
	flex-direction: column;

	ul {
		list-style: none;
		overflow-y: scroll;
		background: $color-secondary;
		height: 100%;
		padding: 0;
		cursor: pointer;

		li {
			background: $color-secondary;
			color: white;
			text-align: center;
			padding: 10px;
			width: 100%;
			&:hover { background: $color-secondary-dark; } 
			&.active {
				background: $color-secondary-dark;
			}
		}
	}
	div {
		text-align: center;
		background: white;
	}
	.logo {
		width: $logo-width;
		margin-top: 10px
	}
}
