// utilities.scss

@mixin absolute_center(){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin svg_stroke($color: black, $width: 2){
	stroke: $color;
	stroke-width: $width;
}